:root {
  --main-gradient: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(18, 179, 36, 1) 0%,
    rgba(17, 131, 182, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.register-form-outer-div {
  position: static;
  display: flex;
  justify-content: center;
}

.register-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: fixed;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 1s;
  width: 25vw;
  height: 60vh;
  border-radius: 12px;
  background: whitesmoke;
}
.register-header {
  margin-top: -10%;
}

.input_and_label-div {
  padding: 3%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 20%;
  border-bottom: solid 1px;
}
.label_register {
  font-size: 20px;
  font-family: inherit;
  letter-spacing: 2px;
  font-weight: bold;
}
.input_register {
  width: 70%;
  height: 30%;
  border-radius: 12px;
  border: solid 1px;
}

.exit-btn {
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  background: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

.register_submit {
  color: white;
  border-radius: 12px;
  border: none;
  font-size: 1rem;
  letter-spacing: 2px;
  width: 30%;
  height: 8%;
  background: var(--main-gradient);
}

.register_submit:hover {
  background: whitesmoke;
  color: black;
  border: solid 1px;
  transition: 0.1s ease-in-out;
}
